In [1]:
import requests
import xml.etree.cElementTree as ET
# xml파일을 파싱하기위해 elementtree 모듈을 사용

In [2]:
xmID = ET.parse('../data/ex.xml')
root = xmID.getroot()
ET.dump(xmID)
# ex.xml파일을 읽음

<data>
    <country name="Liechtenstein">
        <rank>1</rank>
        <year>2008</year>
        <gdppc>141100</gdppc>
        <neighbor direction="E" name="Austria" />
        <neighbor direction="W" name="Switzerland" />
    </country>
    <country name="Singapore">
        <rank>4</rank>
        <year>2011</year>
        <gdppc>59900</gdppc>
        <neighbor direction="N" name="Malaysia" />
    </country>
    <country name="Panama">
        <rank>68</rank>
        <year>2011</year>
        <gdppc>13600</gdppc>
        <neighbor direction="W" name="Costa Rica" />
        <neighbor direction="E" name="Colombia" />
    </country>
</data>

In [3]:
for child in root:
    print(child.tag, child.attrib)
    for children in child:
        print('-->', children.tag, children.attrib)
# element와 그 element의 attribute들과 tag를 읽음

country {'name': 'Liechtenstein'}
--> rank {}
--> year {}
--> gdppc {}
--> neighbor {'name': 'Austria', 'direction': 'E'}
--> neighbor {'name': 'Switzerland', 'direction': 'W'}
country {'name': 'Singapore'}
--> rank {}
--> year {}
--> gdppc {}
--> neighbor {'name': 'Malaysia', 'direction': 'N'}
country {'name': 'Panama'}
--> rank {}
--> year {}
--> gdppc {}
--> neighbor {'name': 'Costa Rica', 'direction': 'W'}
--> neighbor {'name': 'Colombia', 'direction': 'E'}

In [4]:
for neighbor in root.iter('neighbor'):
    print(neighbor.attrib)
# Element.iter()함수를 이용해서 원하는 element만 봄

{'name': 'Austria', 'direction': 'E'}
{'name': 'Switzerland', 'direction': 'W'}
{'name': 'Malaysia', 'direction': 'N'}
{'name': 'Costa Rica', 'direction': 'W'}
{'name': 'Colombia', 'direction': 'E'}

In [5]:
for country in root.findall('country'):
    rank = country.find('rank').text
    name = country.get('name')
    print(name, rank)
# country name과 rank text만 봄

Liechtenstein 1
Singapore 4
Panama 68

In [6]:
for rank in root.iter('rank'):
    new_rank = int(rank.text) + 1
    rank.text = str(new_rank)
    rank.set('updated', 'yes')
xmID.write('output.xml')
ET.dump(xmID)
# rank.text를 int화 시켜 +1을 해준후 다시 str화여 저장

<data>
    <country name="Liechtenstein">
        <rank updated="yes">2</rank>
        <year>2008</year>
        <gdppc>141100</gdppc>
        <neighbor direction="E" name="Austria" />
        <neighbor direction="W" name="Switzerland" />
    </country>
    <country name="Singapore">
        <rank updated="yes">5</rank>
        <year>2011</year>
        <gdppc>59900</gdppc>
        <neighbor direction="N" name="Malaysia" />
    </country>
    <country name="Panama">
        <rank updated="yes">69</rank>
        <year>2011</year>
        <gdppc>13600</gdppc>
        <neighbor direction="W" name="Costa Rica" />
        <neighbor direction="E" name="Colombia" />
    </country>
</data>

In [7]:
url ='http://apis.data.go.kr/B551182/diseaseInfoService/getDissByGenderAgeStats?year=2014&sickCd=J45&sickType=1&medTp=2&numOfRows=21&\
ServiceKey=****************************************************************************************************'
url2 ='http://apis.data.go.kr/B551182/diseaseInfoService/getDissNameCodeList?sickType=1&medTp=2&diseaseType=SICK_NM&searchText=병적 골절을&\
ServiceKey=****************************************************************************************************'
url3 ='http://apis.data.go.kr/B551182/diseaseInfoService/getDissByHsptlzFrgnStats?year=2014&sickCd=J45&sickType=1&medTp=2&\
ServiceKey=****************************************************************************************************'
url4 ='http://apis.data.go.kr/B551182/diseaseInfoService/getDissByClassesStats?year=2014&sickCd=J45&sickType=1&medTp=2&\
ServiceKey=****************************************************************************************************'
url5 ='http://apis.data.go.kr/B551182/diseaseInfoService/getDissByAreaStats?year=2014&sickCd=J45&sickType=1&medTp=2&numOfRows=18&\
ServiceKey=****************************************************************************************************'
# 공공데이터포털 질병정보서비스 OpenAPI사용

In [8]:
res = requests.get(url)
text = res.text
text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><age>전체</age><diagAmt01>         127,469,000[2013]</diagAmt01><diagAmt02>         140,291,223[2012]</diagAmt02><diagAmt03>         159,820,410[2011]</diagAmt03><pintCnt01>           1,853,656[2013]</pintCnt01><pintCnt02>           2,074,482[2012]</pintCnt02><pintCnt03>           2,199,501[2011]</pintCnt03><rnum>1</rnum><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>           6,103,693[2013]</vstDdCnt01><vstDdCnt02>           7,208,364[2012]</vstDdCnt02><vstDdCnt03>           8,220,046[2011]</vstDdCnt03></item><item><age>전체</age><diagAmt01>          56,915,881[2013]</diagAmt01><diagAmt02>          63,954,906[2012]</diagAmt02><diagAmt03>          75,607,221[2011]</diagAmt03><pintCnt01>             860,128[2013]</pintCnt01><pintCnt02>             955,841[2012]</pintCnt02><pintCnt03>           1,024,092[2011]</pintCnt03><rnum>2</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>           2,894,335[2013]</vstDdCnt01><vstDdCnt02>           3,453,146[2012]</vstDdCnt02><vstDdCnt03>           4,018,088[2011]</vstDdCnt03></item><item><age>10세미만</age><diagAmt01>          23,894,698[2013]</diagAmt01><diagAmt02>          28,745,646[2012]</diagAmt02><diagAmt03>          35,970,014[2011]</diagAmt03><pintCnt01>             388,479[2013]</pintCnt01><pintCnt02>             423,939[2012]</pintCnt02><pintCnt03>             483,679[2011]</pintCnt03><rnum>3</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>           1,429,239[2013]</vstDdCnt01><vstDdCnt02>           1,809,937[2012]</vstDdCnt02><vstDdCnt03>           2,231,639[2011]</vstDdCnt03></item><item><age>10~19세</age><diagAmt01>           3,546,344[2013]</diagAmt01><diagAmt02>           4,111,260[2012]</diagAmt02><diagAmt03>           5,079,224[2011]</diagAmt03><pintCnt01>              74,515[2013]</pintCnt01><pintCnt02>              91,284[2012]</pintCnt02><pintCnt03>             106,054[2011]</pintCnt03><rnum>4</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             173,604[2013]</vstDdCnt01><vstDdCnt02>             216,550[2012]</vstDdCnt02><vstDdCnt03>             266,150[2011]</vstDdCnt03></item><item><age>20~29세</age><diagAmt01>           1,798,268[2013]</diagAmt01><diagAmt02>           1,822,439[2012]</diagAmt02><diagAmt03>           2,116,850[2011]</diagAmt03><pintCnt01>              36,875[2013]</pintCnt01><pintCnt02>              41,622[2012]</pintCnt02><pintCnt03>              41,488[2011]</pintCnt03><rnum>5</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>              71,915[2013]</vstDdCnt01><vstDdCnt02>              79,645[2012]</vstDdCnt02><vstDdCnt03>              85,340[2011]</vstDdCnt03></item><item><age>30~39세</age><diagAmt01>           2,801,029[2013]</diagAmt01><diagAmt02>           2,926,471[2012]</diagAmt02><diagAmt03>           3,211,219[2011]</diagAmt03><pintCnt01>              58,048[2013]</pintCnt01><pintCnt02>              66,456[2012]</pintCnt02><pintCnt03>              66,591[2011]</pintCnt03><rnum>6</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             125,134[2013]</vstDdCnt01><vstDdCnt02>             140,910[2012]</vstDdCnt02><vstDdCnt03>             149,086[2011]</vstDdCnt03></item><item><age>40~49세</age><diagAmt01>           3,281,505[2013]</diagAmt01><diagAmt02>           3,439,008[2012]</diagAmt02><diagAmt03>           3,944,220[2011]</diagAmt03><pintCnt01>              63,590[2013]</pintCnt01><pintCnt02>              72,227[2012]</pintCnt02><pintCnt03>              72,460[2011]</pintCnt03><rnum>7</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             155,044[2013]</vstDdCnt01><vstDdCnt02>             172,902[2012]</vstDdCnt02><vstDdCnt03>             185,998[2011]</vstDdCnt03></item><item><age>50~59세</age><diagAmt01>           4,787,323[2013]</diagAmt01><diagAmt02>           4,937,599[2012]</diagAmt02><diagAmt03>           5,443,246[2011]</diagAmt03><pintCnt01>              77,350[2013]</pintCnt01><pintCnt02>              85,721[2012]</pintCnt02><pintCnt03>              84,195[2011]</pintCnt03><rnum>8</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             222,253[2013]</vstDdCnt01><vstDdCnt02>             245,017[2012]</vstDdCnt02><vstDdCnt03>             262,080[2011]</vstDdCnt03></item><item><age>60~69세</age><diagAmt01>           5,751,422[2013]</diagAmt01><diagAmt02>           6,475,996[2012]</diagAmt02><diagAmt03>           7,632,933[2011]</diagAmt03><pintCnt01>              76,768[2013]</pintCnt01><pintCnt02>              86,190[2012]</pintCnt02><pintCnt03>              86,992[2011]</pintCnt03><rnum>9</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             271,911[2013]</vstDdCnt01><vstDdCnt02>             312,202[2012]</vstDdCnt02><vstDdCnt03>             347,395[2011]</vstDdCnt03></item><item><age>70~79세</age><diagAmt01>           7,035,229[2013]</diagAmt01><diagAmt02>           7,551,665[2012]</diagAmt02><diagAmt03>           8,411,069[2011]</diagAmt03><pintCnt01>              72,351[2013]</pintCnt01><pintCnt02>              77,651[2012]</pintCnt02><pintCnt03>              73,714[2011]</pintCnt03><rnum>10</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             326,821[2013]</vstDdCnt01><vstDdCnt02>             354,959[2012]</vstDdCnt02><vstDdCnt03>             370,456[2011]</vstDdCnt03></item><item><age>80세이상</age><diagAmt01>           4,020,063[2013]</diagAmt01><diagAmt02>           3,944,822[2012]</diagAmt02><diagAmt03>           3,798,447[2011]</diagAmt03><pintCnt01>              21,058[2013]</pintCnt01><pintCnt02>              21,555[2012]</pintCnt02><pintCnt03>              20,473[2011]</pintCnt03><rnum>11</rnum><sex>male</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             118,414[2013]</vstDdCnt01><vstDdCnt02>             121,024[2012]</vstDdCnt02><vstDdCnt03>             119,944[2011]</vstDdCnt03></item><item><age>전체</age><diagAmt01>          70,552,720[2013]</diagAmt01><diagAmt02>          76,336,318[2012]</diagAmt02><diagAmt03>          84,213,189[2011]</diagAmt03><pintCnt01>             993,528[2013]</pintCnt01><pintCnt02>           1,118,641[2012]</pintCnt02><pintCnt03>           1,175,409[2011]</pintCnt03><rnum>12</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>           3,209,358[2013]</vstDdCnt01><vstDdCnt02>           3,755,218[2012]</vstDdCnt02><vstDdCnt03>           4,201,958[2011]</vstDdCnt03></item><item><age>10세미만</age><diagAmt01>          17,766,448[2013]</diagAmt01><diagAmt02>          21,611,810[2012]</diagAmt02><diagAmt03>          26,616,726[2011]</diagAmt03><pintCnt01>             312,220[2013]</pintCnt01><pintCnt02>             348,189[2012]</pintCnt02><pintCnt03>             394,273[2011]</pintCnt03><rnum>13</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>           1,098,779[2013]</vstDdCnt01><vstDdCnt02>           1,397,525[2012]</vstDdCnt02><vstDdCnt03>           1,705,607[2011]</vstDdCnt03></item><item><age>10~19세</age><diagAmt01>           2,489,266[2013]</diagAmt01><diagAmt02>           2,876,042[2012]</diagAmt02><diagAmt03>           3,471,532[2011]</diagAmt03><pintCnt01>              56,024[2013]</pintCnt01><pintCnt02>              69,898[2012]</pintCnt02><pintCnt03>              79,740[2011]</pintCnt03><rnum>14</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             119,662[2013]</vstDdCnt01><vstDdCnt02>             152,795[2012]</vstDdCnt02><vstDdCnt03>             183,713[2011]</vstDdCnt03></item><item><age>20~29세</age><diagAmt01>           2,353,062[2013]</diagAmt01><diagAmt02>           2,563,196[2012]</diagAmt02><diagAmt03>           2,867,875[2011]</diagAmt03><pintCnt01>              51,374[2013]</pintCnt01><pintCnt02>              60,258[2012]</pintCnt02><pintCnt03>              63,467[2011]</pintCnt03><rnum>15</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>              99,353[2013]</vstDdCnt01><vstDdCnt02>             116,079[2012]</vstDdCnt02><vstDdCnt03>             129,539[2011]</vstDdCnt03></item><item><age>30~39세</age><diagAmt01>           4,539,596[2013]</diagAmt01><diagAmt02>           4,828,501[2012]</diagAmt02><diagAmt03>           5,432,590[2011]</diagAmt03><pintCnt01>              97,056[2013]</pintCnt01><pintCnt02>             113,390[2012]</pintCnt02><pintCnt03>             119,148[2011]</pintCnt03><rnum>16</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             220,918[2013]</vstDdCnt01><vstDdCnt02>             255,760[2012]</vstDdCnt02><vstDdCnt03>             282,822[2011]</vstDdCnt03></item><item><age>40~49세</age><diagAmt01>           5,443,676[2013]</diagAmt01><diagAmt02>           5,849,743[2012]</diagAmt02><diagAmt03>           6,702,929[2011]</diagAmt03><pintCnt01>             102,905[2013]</pintCnt01><pintCnt02>             118,442[2012]</pintCnt02><pintCnt03>             122,928[2011]</pintCnt03><rnum>17</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             263,067[2013]</vstDdCnt01><vstDdCnt02>             300,834[2012]</vstDdCnt02><vstDdCnt03>             330,470[2011]</vstDdCnt03></item><item><age>50~59세</age><diagAmt01>           8,782,181[2013]</diagAmt01><diagAmt02>           9,019,653[2012]</diagAmt02><diagAmt03>           9,947,997[2011]</diagAmt03><pintCnt01>             130,337[2013]</pintCnt01><pintCnt02>             144,172[2012]</pintCnt02><pintCnt03>             143,797[2011]</pintCnt03><rnum>18</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             379,657[2013]</vstDdCnt01><vstDdCnt02>             420,466[2012]</vstDdCnt02><vstDdCnt03>             448,717[2011]</vstDdCnt03></item><item><age>60~69세</age><diagAmt01>           8,007,584[2013]</diagAmt01><diagAmt02>           8,683,559[2012]</diagAmt02><diagAmt03>           9,627,438[2011]</diagAmt03><pintCnt01>             111,226[2013]</pintCnt01><pintCnt02>             124,867[2012]</pintCnt02><pintCnt03>             124,722[2011]</pintCnt03><rnum>19</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             367,431[2013]</vstDdCnt01><vstDdCnt02>             417,916[2012]</vstDdCnt02><vstDdCnt03>             451,308[2011]</vstDdCnt03></item><item><age>70~79세</age><diagAmt01>          10,520,754[2013]</diagAmt01><diagAmt02>          11,633,104[2012]</diagAmt02><diagAmt03>          11,468,634[2011]</diagAmt03><pintCnt01>             103,403[2013]</pintCnt01><pintCnt02>             111,036[2012]</pintCnt02><pintCnt03>             102,958[2011]</pintCnt03><rnum>20</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             418,285[2013]</vstDdCnt01><vstDdCnt02>             459,971[2012]</vstDdCnt02><vstDdCnt03>             452,263[2011]</vstDdCnt03></item><item><age>80세이상</age><diagAmt01>          10,650,153[2013]</diagAmt01><diagAmt02>           9,270,708[2012]</diagAmt02><diagAmt03>           8,077,467[2011]</diagAmt03><pintCnt01>              39,427[2013]</pintCnt01><pintCnt02>              41,339[2012]</pintCnt02><pintCnt03>              37,912[2011]</pintCnt03><rnum>21</rnum><sex>female</sex><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>             242,206[2013]</vstDdCnt01><vstDdCnt02>             233,872[2012]</vstDdCnt02><vstDdCnt03>             217,519[2011]</vstDdCnt03></item></items><numOfRows>21</numOfRows><pageNo>1</pageNo><totalCount>21</totalCount></body></response>'

In [12]:
from bs4 import BeautifulSoup
import urllib.request
req = urllib.request.urlopen(url)
xml = BeautifulSoup(req, 'xml')
for item in xml.findAll('item'):
    print(item.text)
# 질병성별연령별통계 찾는 코드
# item 클래스의 text만 추출함

전체         127,469,000[2013]         140,291,223[2012]         159,820,410[2011]           1,853,656[2013]           2,074,482[2012]           2,199,501[2011]1J45천식           6,103,693[2013]           7,208,364[2012]           8,220,046[2011]
전체          56,915,881[2013]          63,954,906[2012]          75,607,221[2011]             860,128[2013]             955,841[2012]           1,024,092[2011]2maleJ45천식           2,894,335[2013]           3,453,146[2012]           4,018,088[2011]
10세미만          23,894,698[2013]          28,745,646[2012]          35,970,014[2011]             388,479[2013]             423,939[2012]             483,679[2011]3maleJ45천식           1,429,239[2013]           1,809,937[2012]           2,231,639[2011]
10~19세           3,546,344[2013]           4,111,260[2012]           5,079,224[2011]              74,515[2013]              91,284[2012]             106,054[2011]4maleJ45천식             173,604[2013]             216,550[2012]             266,150[2011]
20~29세           1,798,268[2013]           1,822,439[2012]           2,116,850[2011]              36,875[2013]              41,622[2012]              41,488[2011]5maleJ45천식              71,915[2013]              79,645[2012]              85,340[2011]
30~39세           2,801,029[2013]           2,926,471[2012]           3,211,219[2011]              58,048[2013]              66,456[2012]              66,591[2011]6maleJ45천식             125,134[2013]             140,910[2012]             149,086[2011]
40~49세           3,281,505[2013]           3,439,008[2012]           3,944,220[2011]              63,590[2013]              72,227[2012]              72,460[2011]7maleJ45천식             155,044[2013]             172,902[2012]             185,998[2011]
50~59세           4,787,323[2013]           4,937,599[2012]           5,443,246[2011]              77,350[2013]              85,721[2012]              84,195[2011]8maleJ45천식             222,253[2013]             245,017[2012]             262,080[2011]
60~69세           5,751,422[2013]           6,475,996[2012]           7,632,933[2011]              76,768[2013]              86,190[2012]              86,992[2011]9maleJ45천식             271,911[2013]             312,202[2012]             347,395[2011]
70~79세           7,035,229[2013]           7,551,665[2012]           8,411,069[2011]              72,351[2013]              77,651[2012]              73,714[2011]10maleJ45천식             326,821[2013]             354,959[2012]             370,456[2011]
80세이상           4,020,063[2013]           3,944,822[2012]           3,798,447[2011]              21,058[2013]              21,555[2012]              20,473[2011]11maleJ45천식             118,414[2013]             121,024[2012]             119,944[2011]
전체          70,552,720[2013]          76,336,318[2012]          84,213,189[2011]             993,528[2013]           1,118,641[2012]           1,175,409[2011]12femaleJ45천식           3,209,358[2013]           3,755,218[2012]           4,201,958[2011]
10세미만          17,766,448[2013]          21,611,810[2012]          26,616,726[2011]             312,220[2013]             348,189[2012]             394,273[2011]13femaleJ45천식           1,098,779[2013]           1,397,525[2012]           1,705,607[2011]
10~19세           2,489,266[2013]           2,876,042[2012]           3,471,532[2011]              56,024[2013]              69,898[2012]              79,740[2011]14femaleJ45천식             119,662[2013]             152,795[2012]             183,713[2011]
20~29세           2,353,062[2013]           2,563,196[2012]           2,867,875[2011]              51,374[2013]              60,258[2012]              63,467[2011]15femaleJ45천식              99,353[2013]             116,079[2012]             129,539[2011]
30~39세           4,539,596[2013]           4,828,501[2012]           5,432,590[2011]              97,056[2013]             113,390[2012]             119,148[2011]16femaleJ45천식             220,918[2013]             255,760[2012]             282,822[2011]
40~49세           5,443,676[2013]           5,849,743[2012]           6,702,929[2011]             102,905[2013]             118,442[2012]             122,928[2011]17femaleJ45천식             263,067[2013]             300,834[2012]             330,470[2011]
50~59세           8,782,181[2013]           9,019,653[2012]           9,947,997[2011]             130,337[2013]             144,172[2012]             143,797[2011]18femaleJ45천식             379,657[2013]             420,466[2012]             448,717[2011]
60~69세           8,007,584[2013]           8,683,559[2012]           9,627,438[2011]             111,226[2013]             124,867[2012]             124,722[2011]19femaleJ45천식             367,431[2013]             417,916[2012]             451,308[2011]
70~79세          10,520,754[2013]          11,633,104[2012]          11,468,634[2011]             103,403[2013]             111,036[2012]             102,958[2011]20femaleJ45천식             418,285[2013]             459,971[2012]             452,263[2011]
80세이상          10,650,153[2013]           9,270,708[2012]           8,077,467[2011]              39,427[2013]              41,339[2012]              37,912[2011]21femaleJ45천식             242,206[2013]             233,872[2012]             217,519[2011]

In [13]:
len(xml.findAll('item'))

21

In [14]:
print(xml.findAll('item')[0])

<item><age>전체</age><diagAmt01>         127,469,000[2013]</diagAmt01><diagAmt02>         140,291,223[2012]</diagAmt02><diagAmt03>         159,820,410[2011]</diagAmt03><pintCnt01>           1,853,656[2013]</pintCnt01><pintCnt02>           2,074,482[2012]</pintCnt02><pintCnt03>           2,199,501[2011]</pintCnt03><rnum>1</rnum><sickCd>J45</sickCd><sickNm>천식</sickNm><vstDdCnt01>           6,103,693[2013]</vstDdCnt01><vstDdCnt02>           7,208,364[2012]</vstDdCnt02><vstDdCnt03>           8,220,046[2011]</vstDdCnt03></item>

In [15]:
tmp_one = xml.find_all('item')[0]
type(tmp_one)
# find_all로 찾은 결과는 bs4.element.Tag라고하는 형태가됨
# 이 형태는 변수에 다시 태그로 찾는 find find_all 명령을 사용 할 수 있음

bs4.element.Tag

In [16]:
tmp_one.find('age')

In [17]:
tmp_one.find('age').get_text()

'전체'

In [18]:
tmp_one.find('diagAmt01').get_text()

'         127,469,000[2013]'

In [19]:
tmp_one.find('diagAmt02').get_text()

'         140,291,223[2012]'

In [20]:
tmp_one.find('diagAmt03').get_text()

'         159,820,410[2011]'

In [21]:
tmp_one.find('pintCnt01').get_text()

'           1,853,656[2013]'

In [22]:
tmp_one.find('pintCnt02').get_text()

'           2,074,482[2012]'

In [23]:
tmp_one.find('pintCnt03').get_text()

'           2,199,501[2011]'

In [24]:
tmp_one.find('sickCd').get_text()

'J45'

In [25]:
tmp_one.find('sickNm').get_text()

'천식'

In [26]:
tmp_one.find('vstDdCnt01').get_text()

'           6,103,693[2013]'

In [27]:
tmp_one.find('vstDdCnt02').get_text()

'           7,208,364[2012]'

In [28]:
tmp_one.find('vstDdCnt03').get_text()

'           8,220,046[2011]'

In [29]:
age = []
diagAmt01 = []
diagAmt02 = []
diagAmt03 = []
pintCnt01 = []
pintCnt02 = []
pintCnt03 = []
sickCd = []
sickNm = []
vstDdCnt01 = []
vstDdCnt02 = []
vstDdCnt03 = []

list_soup = xml.find_all('item')

for item in list_soup:
    age.append(item.find('age').get_text())
    diagAmt01.append(item.find('diagAmt01').get_text())
    diagAmt02.append(item.find('diagAmt02').get_text())
    diagAmt03.append(item.find('diagAmt03').get_text())
    pintCnt01.append(item.find('pintCnt01').get_text())
    pintCnt02.append(item.find('pintCnt02').get_text())
    pintCnt03.append(item.find('pintCnt03').get_text())
    sickCd.append(item.find('sickCd').get_text())
    sickNm.append(item.find('sickNm').get_text())
    vstDdCnt01.append(item.find('vstDdCnt01').get_text())
    vstDdCnt02.append(item.find('vstDdCnt02').get_text())
    vstDdCnt03.append(item.find('vstDdCnt03').get_text())
# 클래스별로 값을 리스트에 추가함

In [30]:
age[:5]

['전체', '전체', '10세미만', '10~19세', '20~29세']

In [31]:
diagAmt01[:5]

['         127,469,000[2013]',
 '          56,915,881[2013]',
 '          23,894,698[2013]',
 '           3,546,344[2013]',
 '           1,798,268[2013]']

In [32]:
diagAmt02[:5]

['         140,291,223[2012]',
 '          63,954,906[2012]',
 '          28,745,646[2012]',
 '           4,111,260[2012]',
 '           1,822,439[2012]']

In [33]:
diagAmt03[:5]

['         159,820,410[2011]',
 '          75,607,221[2011]',
 '          35,970,014[2011]',
 '           5,079,224[2011]',
 '           2,116,850[2011]']

In [34]:
pintCnt01[:5]

['           1,853,656[2013]',
 '             860,128[2013]',
 '             388,479[2013]',
 '              74,515[2013]',
 '              36,875[2013]']

In [35]:
pintCnt02[:5]

['           2,074,482[2012]',
 '             955,841[2012]',
 '             423,939[2012]',
 '              91,284[2012]',
 '              41,622[2012]']

In [36]:
pintCnt03[:5]

['           2,199,501[2011]',
 '           1,024,092[2011]',
 '             483,679[2011]',
 '             106,054[2011]',
 '              41,488[2011]']

In [37]:
sickCd[:5]

['J45', 'J45', 'J45', 'J45', 'J45']

In [38]:
sickNm[:5]

['천식', '천식', '천식', '천식', '천식']

In [39]:
vstDdCnt01[:5]

['           6,103,693[2013]',
 '           2,894,335[2013]',
 '           1,429,239[2013]',
 '             173,604[2013]',
 '              71,915[2013]']

In [40]:
vstDdCnt02[:5]

['           7,208,364[2012]',
 '           3,453,146[2012]',
 '           1,809,937[2012]',
 '             216,550[2012]',
 '              79,645[2012]']

In [41]:
vstDdCnt03[:5]

['           8,220,046[2011]',
 '           4,018,088[2011]',
 '           2,231,639[2011]',
 '             266,150[2011]',
 '              85,340[2011]']

In [42]:
len(age), len(diagAmt01), len(diagAmt02), len(diagAmt03), len(pintCnt01), len(pintCnt02), len(pintCnt03), \
len(sickCd), len(sickNm),  len(vstDdCnt01), len(vstDdCnt02), len(vstDdCnt03)

(21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21)

In [43]:
import pandas as pd
data = {'Age':age, 'DiagAmt01':diagAmt01, 'DiagAmt02':diagAmt02, 'DiagAmt03':diagAmt03, 'PintCnt01':pintCnt01,\
        'PintCnt02':pintCnt02, 'PintCnt03':pintCnt03, 'SickCd':sickCd, 'SickNm':sickNm, 'VstDdCnt01':vstDdCnt01,\
        'VstDdCnt02':vstDdCnt02, 'VstDdCnt03':vstDdCnt03}
df = pd.DataFrame(data)
df.head()
# Pandas모듈을 사용하여 '열이름'에 : 값을 입력하여 데이터화함

,Age,DiagAmt01,DiagAmt02,DiagAmt03,PintCnt01,PintCnt02,PintCnt03,SickCd,SickNm,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,전체,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]","1,853,656[2013]","2,074,482[2012]","2,199,501[2011]",J45,천식,"6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,전체,"56,915,881[2013]","63,954,906[2012]","75,607,221[2011]","860,128[2013]","955,841[2012]","1,024,092[2011]",J45,천식,"2,894,335[2013]","3,453,146[2012]","4,018,088[2011]"
2,10세미만,"23,894,698[2013]","28,745,646[2012]","35,970,014[2011]","388,479[2013]","423,939[2012]","483,679[2011]",J45,천식,"1,429,239[2013]","1,809,937[2012]","2,231,639[2011]"
3,10~19세,"3,546,344[2013]","4,111,260[2012]","5,079,224[2011]","74,515[2013]","91,284[2012]","106,054[2011]",J45,천식,"173,604[2013]","216,550[2012]","266,150[2011]"
4,20~29세,"1,798,268[2013]","1,822,439[2012]","2,116,850[2011]","36,875[2013]","41,622[2012]","41,488[2011]",J45,천식,"71,915[2013]","79,645[2012]","85,340[2011]"

In [44]:
df = pd.DataFrame(data, columns=['SickCd','SickNm', 'Age', 'DiagAmt01', 'DiagAmt02', 'DiagAmt03', \
                                 'PintCnt01', 'PintCnt02', 'PintCnt03', 'VstDdCnt01', 'VstDdCnt02', 'VstDdCnt03'])
df.head(5)
# 칼럼의 순서를 정리함

,SickCd,SickNm,Age,DiagAmt01,DiagAmt02,DiagAmt03,PintCnt01,PintCnt02,PintCnt03,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,J45,천식,전체,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]","1,853,656[2013]","2,074,482[2012]","2,199,501[2011]","6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,J45,천식,전체,"56,915,881[2013]","63,954,906[2012]","75,607,221[2011]","860,128[2013]","955,841[2012]","1,024,092[2011]","2,894,335[2013]","3,453,146[2012]","4,018,088[2011]"
2,J45,천식,10세미만,"23,894,698[2013]","28,745,646[2012]","35,970,014[2011]","388,479[2013]","423,939[2012]","483,679[2011]","1,429,239[2013]","1,809,937[2012]","2,231,639[2011]"
3,J45,천식,10~19세,"3,546,344[2013]","4,111,260[2012]","5,079,224[2011]","74,515[2013]","91,284[2012]","106,054[2011]","173,604[2013]","216,550[2012]","266,150[2011]"
4,J45,천식,20~29세,"1,798,268[2013]","1,822,439[2012]","2,116,850[2011]","36,875[2013]","41,622[2012]","41,488[2011]","71,915[2013]","79,645[2012]","85,340[2011]"

In [45]:
df.to_csv('../data/disease_01.csv', sep=',', encoding='UTF-8')
# 전처리한 데이터를 disease_01.csv 파일로 저장

In [46]:
from bs4 import BeautifulSoup
import urllib.request
req = urllib.request.urlopen(url2)
xml = BeautifulSoup(req, 'xml')
for item in xml.findAll('item'):
    print(item.text)
# 인터넷상에선 문제없으나 파이썬에선 '병적 골절을' 때문에 ascii에러 발생
# 검색어로 상병코드 찾는 코드
# item 클래스의 text만 추출함

UnicodeEncodeError: 'ascii' codec can't encode characters in position 102-103: ordinal not in range(128)

In [47]:
from bs4 import BeautifulSoup
import urllib.request
req = urllib.request.urlopen(url3)
xml = BeautifulSoup(req, 'xml')
for item in xml.findAll('item'):
    print(item.text)
# 질병입원외래별통계 찾는 코드
# item 클래스의 text만 추출함

         127,469,000[2013]         140,291,223[2012]         159,820,410[2011]전체           1,853,656[2013]           2,074,482[2012]           2,199,501[2011]1J45천식           6,103,693[2013]           7,208,364[2012]           8,220,046[2011]
          40,656,543[2013]          41,618,971[2012]          44,763,067[2011]입원              32,107[2013]              35,589[2012]              38,303[2011]2J45천식             400,741[2013]             406,073[2012]             423,030[2011]
          86,812,058[2013]          98,672,252[2012]         115,057,343[2011]외래           1,840,547[2013]           2,060,397[2012]           2,185,863[2011]3J45천식           5,702,952[2013]           6,802,291[2012]           7,797,016[2011]

In [48]:
diagAmt01 = []
diagAmt02 = []
diagAmt03 = []
inpatOpat = []
pintCnt01 = []
pintCnt02 = []
pintCnt03 = []
sickCd = []
sickNm = []
vstDdCnt01 = []
vstDdCnt02 = []
vstDdCnt03 = []

list_soup = xml.find_all('item')

for item in list_soup:
    diagAmt01.append(item.find('diagAmt01').get_text())
    diagAmt02.append(item.find('diagAmt02').get_text())
    diagAmt03.append(item.find('diagAmt03').get_text())
    inpatOpat.append(item.find('inpatOpat').get_text())
    pintCnt01.append(item.find('pintCnt01').get_text())
    pintCnt02.append(item.find('pintCnt02').get_text())
    pintCnt03.append(item.find('pintCnt03').get_text())
    sickCd.append(item.find('sickCd').get_text())
    sickNm.append(item.find('sickNm').get_text())
    vstDdCnt01.append(item.find('vstDdCnt01').get_text())
    vstDdCnt02.append(item.find('vstDdCnt02').get_text())
    vstDdCnt03.append(item.find('vstDdCnt03').get_text())
# 클래스별로 값을 리스트에 추가함

In [49]:
import pandas as pd
data2 = {'DiagAmt01':diagAmt01, 'DiagAmt02':diagAmt02, 'DiagAmt03':diagAmt03, 'InpatOpat':inpatOpat, 'PintCnt01':pintCnt01,\
        'PintCnt02':pintCnt02, 'PintCnt03':pintCnt03, 'SickCd':sickCd, 'SickNm':sickNm, 'VstDdCnt01':vstDdCnt01,\
        'VstDdCnt02':vstDdCnt02, 'VstDdCnt03':vstDdCnt03}
df = pd.DataFrame(data2)
df.head()
# Pandas모듈을 사용하여 '열이름'에 : 값을 입력하여 데이터화함

,DiagAmt01,DiagAmt02,DiagAmt03,InpatOpat,PintCnt01,PintCnt02,PintCnt03,SickCd,SickNm,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]",전체,"1,853,656[2013]","2,074,482[2012]","2,199,501[2011]",J45,천식,"6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,"40,656,543[2013]","41,618,971[2012]","44,763,067[2011]",입원,"32,107[2013]","35,589[2012]","38,303[2011]",J45,천식,"400,741[2013]","406,073[2012]","423,030[2011]"
2,"86,812,058[2013]","98,672,252[2012]","115,057,343[2011]",외래,"1,840,547[2013]","2,060,397[2012]","2,185,863[2011]",J45,천식,"5,702,952[2013]","6,802,291[2012]","7,797,016[2011]"

In [50]:
df = pd.DataFrame(data2, columns=['SickCd','SickNm', 'InpatOpat', 'DiagAmt01', 'DiagAmt02', 'DiagAmt03', \
                                 'PintCnt01', 'PintCnt02', 'PintCnt03', 'VstDdCnt01', 'VstDdCnt02', 'VstDdCnt03'])
df.head(5)
# 칼럼의 순서를 정리함

,SickCd,SickNm,InpatOpat,DiagAmt01,DiagAmt02,DiagAmt03,PintCnt01,PintCnt02,PintCnt03,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,J45,천식,전체,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]","1,853,656[2013]","2,074,482[2012]","2,199,501[2011]","6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,J45,천식,입원,"40,656,543[2013]","41,618,971[2012]","44,763,067[2011]","32,107[2013]","35,589[2012]","38,303[2011]","400,741[2013]","406,073[2012]","423,030[2011]"
2,J45,천식,외래,"86,812,058[2013]","98,672,252[2012]","115,057,343[2011]","1,840,547[2013]","2,060,397[2012]","2,185,863[2011]","5,702,952[2013]","6,802,291[2012]","7,797,016[2011]"

In [51]:
df.to_csv('../data/disease_02.csv', sep=',', encoding='UTF-8')
# 전처리한 데이터를 disease_02.csv 파일로 저장

In [52]:
from bs4 import BeautifulSoup
import urllib.request
req = urllib.request.urlopen(url4)
xml = BeautifulSoup(req, 'xml')
for item in xml.findAll('item'):
    print(item.text)
# 질병의료기관종별통계 찾는 코드
# item 클래스의 text만 추출함

         127,469,000[2013]         140,291,223[2012]         159,820,410[2011]전체           1,853,656[2013]           2,074,482[2012]           2,199,501[2011]1J45천식           6,103,693[2013]           7,208,364[2012]           8,220,046[2011]
          10,460,683[2013]          11,381,535[2012]          18,929,473[2011]상급종합병원              45,979[2013]              53,990[2012]              89,538[2011]2J45천식             155,260[2013]             171,356[2012]             329,220[2011]
          23,802,925[2013]          24,750,201[2012]          31,746,133[2011]종합병원             122,558[2013]             130,243[2012]             165,007[2011]3J45천식             414,038[2013]             441,263[2012]             631,785[2011]
          26,953,259[2013]          27,044,375[2012]          26,686,593[2011]병원급             188,207[2013]             194,919[2012]             180,421[2011]4J45천식             677,719[2013]             715,939[2012]             827,902[2011]
          65,883,490[2013]          76,563,477[2012]          81,881,039[2011]의원급           1,559,029[2013]           1,774,499[2012]           1,865,723[2011]5J45천식           4,823,520[2013]           5,836,288[2012]           6,383,313[2011]
             368,243[2013]             551,636[2012]             577,172[2011]보건기관               9,312[2013]              11,937[2012]              12,987[2011]6J45천식              33,156[2013]              43,518[2012]              47,826[2011]

In [53]:
diagAmt01 = []
diagAmt02 = []
diagAmt03 = []
grade = []
pintCnt01 = []
pintCnt02 = []
pintCnt03 = []
sickCd = []
sickNm = []
vstDdCnt01 = []
vstDdCnt02 = []
vstDdCnt03 = []

list_soup = xml.find_all('item')

for item in list_soup:
    diagAmt01.append(item.find('diagAmt01').get_text())
    diagAmt02.append(item.find('diagAmt02').get_text())
    diagAmt03.append(item.find('diagAmt03').get_text())
    grade.append(item.find('grade').get_text())
    pintCnt01.append(item.find('pintCnt01').get_text())
    pintCnt02.append(item.find('pintCnt02').get_text())
    pintCnt03.append(item.find('pintCnt03').get_text())
    sickCd.append(item.find('sickCd').get_text())
    sickNm.append(item.find('sickNm').get_text())
    vstDdCnt01.append(item.find('vstDdCnt01').get_text())
    vstDdCnt02.append(item.find('vstDdCnt02').get_text())
    vstDdCnt03.append(item.find('vstDdCnt03').get_text())
# 클래스별로 값을 리스트에 추가함

In [54]:
import pandas as pd
data3 = {'DiagAmt01':diagAmt01, 'DiagAmt02':diagAmt02, 'DiagAmt03':diagAmt03, 'Grade':grade, 'PintCnt01':pintCnt01,\
        'PintCnt02':pintCnt02, 'PintCnt03':pintCnt03, 'SickCd':sickCd, 'SickNm':sickNm, 'VstDdCnt01':vstDdCnt01,\
        'VstDdCnt02':vstDdCnt02, 'VstDdCnt03':vstDdCnt03}
df = pd.DataFrame(data3)
df.head()
# Pandas모듈을 사용하여 '열이름'에 : 값을 입력하여 데이터화함

,DiagAmt01,DiagAmt02,DiagAmt03,Grade,PintCnt01,PintCnt02,PintCnt03,SickCd,SickNm,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]",전체,"1,853,656[2013]","2,074,482[2012]","2,199,501[2011]",J45,천식,"6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,"10,460,683[2013]","11,381,535[2012]","18,929,473[2011]",상급종합병원,"45,979[2013]","53,990[2012]","89,538[2011]",J45,천식,"155,260[2013]","171,356[2012]","329,220[2011]"
2,"23,802,925[2013]","24,750,201[2012]","31,746,133[2011]",종합병원,"122,558[2013]","130,243[2012]","165,007[2011]",J45,천식,"414,038[2013]","441,263[2012]","631,785[2011]"
3,"26,953,259[2013]","27,044,375[2012]","26,686,593[2011]",병원급,"188,207[2013]","194,919[2012]","180,421[2011]",J45,천식,"677,719[2013]","715,939[2012]","827,902[2011]"
4,"65,883,490[2013]","76,563,477[2012]","81,881,039[2011]",의원급,"1,559,029[2013]","1,774,499[2012]","1,865,723[2011]",J45,천식,"4,823,520[2013]","5,836,288[2012]","6,383,313[2011]"

In [55]:
df = pd.DataFrame(data3, columns=['SickCd','SickNm', 'Grade', 'DiagAmt01', 'DiagAmt02', 'DiagAmt03', \
                                 'PintCnt01', 'PintCnt02', 'PintCnt03', 'VstDdCnt01', 'VstDdCnt02', 'VstDdCnt03'])
df.head(5)
# 칼럼의 순서를 정리함

,SickCd,SickNm,Grade,DiagAmt01,DiagAmt02,DiagAmt03,PintCnt01,PintCnt02,PintCnt03,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,J45,천식,전체,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]","1,853,656[2013]","2,074,482[2012]","2,199,501[2011]","6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,J45,천식,상급종합병원,"10,460,683[2013]","11,381,535[2012]","18,929,473[2011]","45,979[2013]","53,990[2012]","89,538[2011]","155,260[2013]","171,356[2012]","329,220[2011]"
2,J45,천식,종합병원,"23,802,925[2013]","24,750,201[2012]","31,746,133[2011]","122,558[2013]","130,243[2012]","165,007[2011]","414,038[2013]","441,263[2012]","631,785[2011]"
3,J45,천식,병원급,"26,953,259[2013]","27,044,375[2012]","26,686,593[2011]","188,207[2013]","194,919[2012]","180,421[2011]","677,719[2013]","715,939[2012]","827,902[2011]"
4,J45,천식,의원급,"65,883,490[2013]","76,563,477[2012]","81,881,039[2011]","1,559,029[2013]","1,774,499[2012]","1,865,723[2011]","4,823,520[2013]","5,836,288[2012]","6,383,313[2011]"

In [56]:
df.to_csv('../data/disease_03.csv', sep=',', encoding='UTF-8')
# 전처리한 데이터를 disease_03.csv 파일로 저장

In [57]:
from bs4 import BeautifulSoup
import urllib.request
req = urllib.request.urlopen(url5)
xml = BeautifulSoup(req, 'xml')
for item in xml.findAll('item'):
    print(item.text)
# 질병의료기관지역별통계 찾는 코드
# item 클래스의 text만 추출함

         127,469,000[2013]         140,291,223[2012]         159,820,410[2011]전체           1,853,656[2013]           2,074,482[2012]           2,199,501[2011]1J45천식           6,103,693[2013]           7,208,364[2012]           8,220,046[2011]
          20,108,232[2013]          21,918,261[2012]          26,959,516[2011]서울             343,972[2013]             380,875[2012]             417,137[2011]2J45천식           1,051,126[2013]           1,214,194[2012]           1,417,559[2011]
           8,934,263[2013]           9,723,070[2012]          11,065,524[2011]부산             104,557[2013]             123,186[2012]             134,642[2011]3J45천식             374,821[2013]             453,279[2012]             544,172[2011]
           5,884,281[2013]           6,235,196[2012]           7,579,843[2011]인천             102,759[2013]             117,290[2012]             126,829[2011]4J45천식             337,934[2013]             387,012[2012]             468,681[2011]
           6,954,177[2013]           7,476,960[2012]           8,296,598[2011]대구             102,745[2013]             115,997[2012]             119,447[2011]5J45천식             349,566[2013]             421,207[2012]             467,130[2011]
           5,210,162[2013]           5,486,153[2012]           6,342,958[2011]광주              63,276[2013]              70,406[2012]              71,098[2011]6J45천식             212,349[2013]             247,210[2012]             274,269[2011]
           3,099,635[2013]           3,453,775[2012]           4,191,479[2011]대전              51,924[2013]              55,698[2012]              62,832[2011]7J45천식             160,746[2013]             182,504[2012]             216,187[2011]
           2,946,102[2013]           3,114,763[2012]           3,506,141[2011]울산              47,070[2013]              51,877[2012]              51,621[2011]8J45천식             141,917[2013]             164,912[2012]             177,837[2011]
          27,281,669[2013]          30,071,234[2012]          34,363,361[2011]경기             449,607[2013]             504,936[2012]             542,278[2011]9J45천식           1,398,508[2013]           1,674,207[2012]           1,946,068[2011]
           3,228,606[2013]           3,661,345[2012]           4,244,447[2011]강원              48,183[2013]              54,556[2012]              57,592[2011]10J45천식             143,808[2013]             166,433[2012]             188,329[2011]
           3,385,252[2013]           4,186,653[2012]           4,708,561[2011]충북              61,327[2013]              70,400[2012]              71,036[2011]11J45천식             185,740[2013]             224,721[2012]             252,184[2011]
           5,137,065[2013]           6,432,922[2012]           6,861,276[2011]충남              75,281[2013]              89,588[2012]              96,016[2011]12J45천식             253,543[2013]             346,578[2012]             362,124[2011]
           6,971,715[2013]           7,836,814[2012]           8,339,712[2011]전북              83,112[2013]              89,251[2012]              91,020[2011]13J45천식             305,309[2013]             350,809[2012]             367,147[2011]
           7,598,278[2013]           8,172,597[2012]           9,361,124[2011]전남              78,679[2013]              81,359[2012]              83,101[2011]14J45천식             283,246[2013]             304,289[2012]             341,986[2011]
           7,324,896[2013]           7,923,993[2012]           8,757,488[2011]경북             106,008[2013]             123,142[2012]             128,765[2011]15J45천식             351,220[2013]             431,918[2012]             483,357[2011]
          12,083,870[2013]          13,166,799[2012]          13,456,111[2011]경남             141,660[2013]             158,952[2012]             166,582[2011]16J45천식             489,632[2013]             567,599[2012]             634,704[2011]
           1,172,611[2013]           1,363,568[2012]           1,786,269[2011]제주              18,440[2013]              21,456[2012]              23,093[2011]17J45천식              56,356[2013]              68,046[2012]              78,312[2011]
             147,786[2013]              67,101[2012]0[2011]세종               2,511[2013]               1,433[2012]0[2011]18J45천식               7,872[2013]               3,445[2012]0[2011]

In [58]:
diagAmt01 = []
diagAmt02 = []
diagAmt03 = []
lcName = []
pintCnt01 = []
pintCnt02 = []
pintCnt03 = []
sickCd = []
sickNm = []
vstDdCnt01 = []
vstDdCnt02 = []
vstDdCnt03 = []

list_soup = xml.find_all('item')

for item in list_soup:
    diagAmt01.append(item.find('diagAmt01').get_text())
    diagAmt02.append(item.find('diagAmt02').get_text())
    diagAmt03.append(item.find('diagAmt03').get_text())
    lcName.append(item.find('lcName').get_text())
    pintCnt01.append(item.find('pintCnt01').get_text())
    pintCnt02.append(item.find('pintCnt02').get_text())
    pintCnt03.append(item.find('pintCnt03').get_text())
    sickCd.append(item.find('sickCd').get_text())
    sickNm.append(item.find('sickNm').get_text())
    vstDdCnt01.append(item.find('vstDdCnt01').get_text())
    vstDdCnt02.append(item.find('vstDdCnt02').get_text())
    vstDdCnt03.append(item.find('vstDdCnt03').get_text())
# 클래스별로 값을 리스트에 추가함

In [59]:
import pandas as pd
data4 = {'DiagAmt01':diagAmt01, 'DiagAmt02':diagAmt02, 'DiagAmt03':diagAmt03, 'LcName':lcName, 'PintCnt01':pintCnt01,\
        'PintCnt02':pintCnt02, 'PintCnt03':pintCnt03, 'SickCd':sickCd, 'SickNm':sickNm, 'VstDdCnt01':vstDdCnt01,\
        'VstDdCnt02':vstDdCnt02, 'VstDdCnt03':vstDdCnt03}
df = pd.DataFrame(data4)
df.head()
# Pandas모듈을 사용하여 '열이름'에 : 값을 입력하여 데이터화함

,DiagAmt01,DiagAmt02,DiagAmt03,LcName,PintCnt01,PintCnt02,PintCnt03,SickCd,SickNm,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]",전체,"1,853,656[2013]","2,074,482[2012]","2,199,501[2011]",J45,천식,"6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,"20,108,232[2013]","21,918,261[2012]","26,959,516[2011]",서울,"343,972[2013]","380,875[2012]","417,137[2011]",J45,천식,"1,051,126[2013]","1,214,194[2012]","1,417,559[2011]"
2,"8,934,263[2013]","9,723,070[2012]","11,065,524[2011]",부산,"104,557[2013]","123,186[2012]","134,642[2011]",J45,천식,"374,821[2013]","453,279[2012]","544,172[2011]"
3,"5,884,281[2013]","6,235,196[2012]","7,579,843[2011]",인천,"102,759[2013]","117,290[2012]","126,829[2011]",J45,천식,"337,934[2013]","387,012[2012]","468,681[2011]"
4,"6,954,177[2013]","7,476,960[2012]","8,296,598[2011]",대구,"102,745[2013]","115,997[2012]","119,447[2011]",J45,천식,"349,566[2013]","421,207[2012]","467,130[2011]"

In [60]:
df = pd.DataFrame(data4, columns=['SickCd','SickNm', 'LcName', 'DiagAmt01', 'DiagAmt02', 'DiagAmt03', \
                                 'PintCnt01', 'PintCnt02', 'PintCnt03', 'VstDdCnt01', 'VstDdCnt02', 'VstDdCnt03'])
df.head(5)
# 칼럼의 순서를 정리함

,SickCd,SickNm,LcName,DiagAmt01,DiagAmt02,DiagAmt03,PintCnt01,PintCnt02,PintCnt03,VstDdCnt01,VstDdCnt02,VstDdCnt03
0,J45,천식,전체,"127,469,000[2013]","140,291,223[2012]","159,820,410[2011]","1,853,656[2013]","2,074,482[2012]","2,199,501[2011]","6,103,693[2013]","7,208,364[2012]","8,220,046[2011]"
1,J45,천식,서울,"20,108,232[2013]","21,918,261[2012]","26,959,516[2011]","343,972[2013]","380,875[2012]","417,137[2011]","1,051,126[2013]","1,214,194[2012]","1,417,559[2011]"
2,J45,천식,부산,"8,934,263[2013]","9,723,070[2012]","11,065,524[2011]","104,557[2013]","123,186[2012]","134,642[2011]","374,821[2013]","453,279[2012]","544,172[2011]"
3,J45,천식,인천,"5,884,281[2013]","6,235,196[2012]","7,579,843[2011]","102,759[2013]","117,290[2012]","126,829[2011]","337,934[2013]","387,012[2012]","468,681[2011]"
4,J45,천식,대구,"6,954,177[2013]","7,476,960[2012]","8,296,598[2011]","102,745[2013]","115,997[2012]","119,447[2011]","349,566[2013]","421,207[2012]","467,130[2011]"

In [61]:
df.to_csv('../data/disease_04.csv', sep=',', encoding='UTF-8')
# 전처리한 데이터를 disease_04.csv 파일로 저장